/* ADD YOUR STYLES HERE */


.names {
    width:100%;
}

.names th, td {
	border-bottom: 1px;
	border-color: #ddd;
	padding: 15px;
	border-bottom-style: solid;
}


.statstable {
    display:table;
    width: 50%;
}
.statsnumbers {
    font-size: xx-large;
}
.statslabels {
    font-size: xx-small;
    color: rgb(169, 169, 169)
}
.graph {
	width: 100%;

}
.graph th {
	text-align: right;
	width: 15%;
}

.graph div {
	color: white;
	font-weight: bold;
	background-color: #0000ff;
}

.graph div, th {
	padding: 5px;
	border-bottom: none;
}

.graph td {
	border-bottom-style: none;
	padding: 1px;
}

.cupcake img {
	float: left;
	margin-right: 10px;

}

.cupcaketitle {
	margin-left: 60px;
}

/*.cupcake h2, p {*/
/*	margin-left: 55px;*/
/*}*/
